.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(245, 180, 180, 0);
}

.navbar:hover {
    background: rgba(151, 145, 145, 0.705);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    font-family: 'Playfair';
    font-weight: bold;
}


.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(238, 234, 231);

}

.navbar ul li a:hover {
    color: rgb(203,59,41)
    
}
